

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Quantum;

}


html{
    background-color: black;
    color:blanchedalmond;
       
    

}


header{
    font-size: 2rem;
    
    
    padding: 2rem;
    width: 100%;
    position: fixed;
}

.headerBackground{
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
    font-size: 3rem;
    
    text-shadow: 4px 4px 4px #2f4d58;
    text-decoration: none;
}
.logo a,.textHero a{
    text-decoration: none;
    color: #f3e600;
}
.logo a:hover{
    transition: 0.3s ease-in;
    color: #d1f7ff;
    cursor: pointer;
}
menu ul{
    list-style: none;
    display: flex;
    
        
}
menu ul li a{
    margin-right: 3rem;
    font-size: larger;
    color: #03d9e8;
    text-shadow: 4px 4px 4px #2f4d58;
    text-decoration: none;
    
}
menu ul li a:hover{
    transition: 0.3s ease-in;
    color: #d1f7ff;
    
}