@font-face {
    font-family: 'Quantum';
    src: url('QuantumRegular.woff2') format('woff2'),
        url('QuantumRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

